$primary-text-color:#757575;
$secondary-text-color: #212121;
$accent-color: #2196f3;
$primary-bg-color: #ffffff;
$secondary-bg-color: #2f303a;
$button-color: #f5f4fa;
$tertiary-color: rgba(255, 255, 255, 0.6);
$logo-color: #000000;
$secondary-bt-color: #188ce8;
$border-color: #eeeeee;
$secondary-border-color: #ececec;
$icon-colour: #afb1b8;

// BREAKPOINTS
$mobile: 480px;
$tablet:768px;
$desktop:1200px;
